@{
    ViewBag.Title = "Acerca de";
}


<!--================ Start Home Banner Area =================-->
<section class="home_banner_area" style="z-index: 1;
        min-height: 900px;
        position: relative;
        background: url(../Images/2019_USWA_JARNO-SCHURGERS_0136-1920x1080.jpg) no-repeat center;
        background-size: cover;">
    <div class="banner_inner">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="banner_content text-center">
                        <h2 style="font:bold 80px arial, verdana; background-color: white">
                            Acerca de Urban Store
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->
<br />
<br />
<br />
<!--================ Start Feature Area =================-->
<hr />
<br />
<section class="feature_area section_gap_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <center>
                    <div class="main_title">
                        <h2 class="mb-3" style="font-size:40px;">¿Quiénes somos?</h2>
                        <h3 style="font:italic">"Somos una tienda urbana para deportes urbanos."</h3>
                        <p>Ofrecemos un amplia gama de producto que cubren las necesidades deportivas de los amantes de estos deportes.</p>
                        <p>De forma que la relación calidad/precio es un objetivo primordial en nuestra tienda, para que nuestros clientes puedan obtener los mejores productos al mejor precio.</p>
                    </div>
                </center>
            </div>
        </div>
        <br />
        <hr />
        <br />
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="jumbotron">
                    <h3 class="display-4">Contactos</h3>
                    <p class="lead">Estas son nuestras diferentes redes sociales y contactos.</p>
                    <hr class="my-4">

                    <address>
                        <strong>Soporte:</strong>   <a href="mailto:soporte.urbans@gmail.com">soporte.urbans@gmail.com</a><br />
                        <strong>Teléfono:</strong> <a href="#">2222-2222</a>
                    </address>

                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"> <i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"> <i class="fab fa-youtube"></i></a>
                    </div>
                    <br />
                    <br />
                    <p>Desarrolladores - Jose Mena - Ismael Serrano </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Feature Area =================-->

