<!--================ Start footer Area  =================-->
<footer class="footer-area section_gap">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Productos mas vendidos</h4>
                <ul>
                    <li><a href="#">Patinetas</a></li>
                    <li><a href="#">Marcos bicicletas</a></li>
                    <li><a href="#">Herramientas</a></li>
                    <li><a href="#">Accesorios</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Links frecuentes</h4>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de nostros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Recursos</h4>
                <ul>
                    <li><a href="#">Guides</a></li>
                    <li><a href="#">Research</a></li>
                    <li><a href="#">Experts</a></li>
                    <li><a href="#">Agencies</a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Urban Store
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"> <i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"> <i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <br />
</footer>
<!--================ End footer Area  =================-->
